body {
  background-color: #acb7c1;
}

.about-main-container {
  background-color: #acb7c1;
  display: grid;
  gap: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  grid-template-columns: repeat(12, 1fr);
}

/* ---Main article */

.article-main {
  grid-column: 1 / span 6;
  grid-row-start: 1;
  align-self: end;
}

.article-main-title {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  font-weight: 300;
  color: black;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.article-main-title p {
  padding-right: 0.4rem;
  line-height: 3rem;
  color: var(--black);
}

.article-main-p-1 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  align-self: end;
}

.article-main-bottom {
  grid-column: 1 / span 6;
  grid-row-start: 2;
  grid-auto-rows: min-content;
  padding-bottom: 1rem;
}

.article-main-p-2,
.article-main-bottom p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-right: 2rem;
}

/* ---Picture */

.img-container {
  grid-column: 7 / span 6;
  grid-row: 1 / 4;
  width: calc(100% + 48px);
  background: url("../../assets/profile.jpeg") no-repeat;
  background-size: cover;
  background-position-y: center;
}

img {
  max-width: 100%;
  height: auto;
  padding-top: 1rem;
}

/* ---Bottom section */

.article-sub-title {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding-bottom: 0.3rem;
}

.article-skills {
  grid-column: 1 / span 2;
  grid-row-start: 3;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.article-tools {
  grid-column: 3 / span 2;
  grid-row-start: 3;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.article-social {
  grid-column: 5 / span 2;
  grid-row-start: 3;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.article-social a {
  display: block;
}

a:hover {
  font-weight: 900;
  transition: all 0.25s ease;
  color: var(--black);
}

a:visited {
  color: var(--slate);
}

@media screen and (max-width: 1024px) {
  .about-main-container {
    gap: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    grid-template-columns: repeat(6, 1fr);
  }

  /* ---Main article */

  .article-main {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-top: 3rem;
  }

  .article-main-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
    padding-bottom: 1rem;
  }

  .article-main-title p {
    line-height: 1.7rem;
  }

  .article-main-title-name {
    font-size: 3.5rem;
    font-weight: 300;
  }

  .article-main-p-1 {
    padding-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.8rem;
    padding-right: 0rem;
    color: var(--slate);
  }

  .article-main-p-2 {
    font-size: 1rem;
    line-height: 1.8rem;
    padding-right: 0rem;
    color: var(--slate);
  }

  .article-main-bottom {
    grid-column: 1 / span 6;
    grid-row-start: 2;
  }

  .article-main-bottom p {
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--slate);
  }

  /* ---Picture*/

  .img-container {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
    margin-top: 2rem;
  }

  /* ---Bottom section*/

  .article-skills {
    grid-column: 1 / span 2;
    grid-row-start: 3;
  }

  .article-tools {
    grid-column: 3 / span 2;
    grid-row-start: 3;
  }

  .article-social {
    grid-column: 5 / span 2;
    grid-row-start: 3;
  }
}

@media screen and (max-width: 430px) {
  .about-main-container {
    gap: 0.9rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    grid-template-columns: repeat(5, 1fr);
  }

  /* ---Main article */

  .article-main {
    grid-column: 1 / span 5;
    margin-top: 2rem;
  }

  .article-main-title {
    font-size: 1.5rem;
    font-weight: 200;
    padding-bottom: 1rem;
    grid-row-start: 1;
  }

  .article-main-title-name {
    font-size: 3rem;
    font-weight: 300;
  }

  .article-main-p-1 {
    grid-column-start: 1 / span 5;
    grid-row-start: 2;
    padding-bottom: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: var(--slate);
  }

  .article-main-p-2 {
    grid-column: 1 / span 5;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: var(--slate);
  }

  .article-main-bottom {
    grid-column: 1 / span 5;
    grid-row-start: 2;
  }

  .article-main-bottom p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: var(--slate);
  }

  /* ---Picture*/

  .img-container {
    grid-column: 1 / 6;
    grid-row-start: 3;
    width: 100%;
    padding-top: 0;
    border-radius: 12px;
  }

  /* ---Bottom section */

  .article-sub-title {
    font-size: 1rem;
    font-weight: 500;
  }
  .article-skills {
    grid-column: 1 / span 5;
    grid-row-start: 4;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-bottom: 0.9rem;
  }

  .article-tools {
    grid-column: 1 / span 5;
    grid-row-start: 5;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-bottom: 0.9rem;
  }

  .article-social {
    grid-column: 1 / span 5;
    grid-row-start: 6;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-bottom: 0.9rem;
  }
}
