/* ---Hero */

.hero-container {
  padding: 3rem 3rem 0 3rem;
}

.name {
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 0.14rem;
  padding: 0 0 0.5rem 0;
}

.hero-intro {
  font-size: 2.3rem;
  font-weight: 200;
  line-height: 2.7rem;
  padding: 0 0 2rem 0;
}

.hero-intro span {
  font-weight: 400;
}

/* ---Top projects */

.projects-title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.14rem;
  padding: 0 0 0 4rem;
  margin: 2rem 3rem 0 3rem;
  color: var(--black);
}

.projects-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 3rem;
  height: 1px;
  background: var(--slate);
  left: 0;
  top: 50%;
}

.project-container {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.top-projects-container {
  /* display: flex; */
  margin: 0 3rem;
}

.all-projects-container {
  margin: 0 3rem;
}

@media screen and (max-width: 900px) {
  /* ---Hero */

  .hero-container {
    padding: 1.25rem 1.25rem 0 1.25rem;
  }

  .name {
    font-size: 1rem;
    font-weight: 100;
    padding: 1.5rem 0 0.6rem 0;
  }

  .hero-intro {
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 2.2rem;
  }

  .hero-intro span {
    font-weight: 400;
  }

  /* ---Top projects */

  .projects-title {
    font-size: 1.1rem;
    letter-spacing: 0.15rem;
    padding: 0 0 0 3rem;
    margin: 1rem 1.25rem 0 1.25rem;
  }

  .projects-title:before {
    width: 2rem;
  }

  .project-container {
    margin: 1rem 0;
    min-height: 20rem;
  }

  .top-projects-container {
    margin: 0 1.25rem;
  }

  .all-projects-container {
    margin: 0 1.25rem;
  }
}

@media screen and (max-width: 430px) {
  .img-container-test {
    display: block;
    border: 2px solid black;
    width: 100%;
    height: 20rem;
    background-image: url("../../assets/m_card_picture_p1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom -1.7rem right -1.25rem;
  }

  /* ---Hero */

  .hero-container {
    padding: 2rem 1.25rem 0 1.25rem;
  }

  .name {
    font-size: 0.8rem;
    font-weight: 100;
    padding: 1.5rem 0 0.4rem 0;
  }

  .hero-intro {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.6rem;
    padding: 0 0 1rem 0;
  }

  .hero-intro span {
    font-weight: 400;
  }

  /* ---Top projects */

  .projects-title {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 0 0 0 2.7rem;
    margin: 1rem 1.25rem 0 1.25rem;
  }

  .projects-title:before {
    width: 2rem;
  }

  .project-container {
    margin: 1rem 0;
    min-height: 20rem;
    border-radius: 0.6rem;
  }

  .top-projects-container {
    margin: 0 1.25rem;
  }

  .all-projects-container {
    margin: 0 1.25rem;
  }
}
