/* ---Hero */
.hero-container {
  padding: 3rem 3rem 0 3rem;
}

.name {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  padding: 0 0 0.8rem 0;
}

.hero-intro {
  font-size: 2.3rem;
  font-weight: 200;
  line-height: 2.7rem;
  padding: 0 0 2rem 0;
}

.hero-intro span {
  font-weight: 400;
}

/* ---Top projects */
.projects-title {
  position: relative;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.14rem;
  padding: 0 0 0 4rem;
  margin: 3rem 0rem 0 3rem;
  color: var(--black);
}

.projects-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 3rem;
  height: 1px;
  background: var(--slate);
  left: 0;
  top: 50%;
}

.project-container {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.top-projects-container {
  margin: 0 0 1rem 0;
}

.top-projects-container .card-title {
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
  line-height: 2.2rem;
  padding: 0 0 1rem 0;
}

.blank {
  height: 4rem;
}

/* ---All projects */
.all-projects-container {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

/* ---Filters */
.filter-section-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1.5rem 3rem 0 3rem;
}

.filter-section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 3rem;
}

.filter-section {
  padding: 0.7rem 2rem 0 0;
}

.filter-label {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0 0 0.5rem 0;
}

.filters {
  width: 16rem;
}

@media screen and (max-width: 900px) {
  /* ---Hero */
  .hero-container {
    padding: 1.25rem 1.25rem 0 1.25rem;
  }

  .name {
    font-size: 1rem;
    font-weight: 100;
    padding: 1.5rem 0 0.6rem 0;
  }

  .hero-intro {
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 2.2rem;
  }

  .hero-intro span {
    font-weight: 400;
  }

  /* ---Top projects */
  .top-projects-container {
    margin: 0;
  }

  .top-projects-container .card-title {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.07rem;
    line-height: 1.5rem;
    padding: 0 0 0.5rem 0;
  }

  .top-projects-container .card-tools {
    font-size: 0.6rem;
  }

  .projects-title {
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
    padding: 0 0 0 3rem;
    margin: 1rem 1.25rem 0 1.25rem;
  }

  .projects-title:before {
    width: 2rem;
  }

  .project-container {
    margin: 1rem 0;
    min-height: 20rem;
  }

  .all-projects-container {
    margin: 0 1.25rem;
    gap: 1.2rem;
  }

  .blank {
    height: 5rem;
  }

  /* ---Filters */
  .filter-section-title {
    font-size: 1rem;
    margin: 1.5rem 1.25rem 0 1.25rem;
  }

  .filter-section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1.25rem 2rem 1.25rem;
  }

  .filter-section {
    padding: 0.7rem 1rem 0 0;
  }

  .filter-label {
    font-size: 0.8rem;
    padding: 0 0 0.5rem 0;
  }

  .filters {
    width: 14rem;
  }
}

@media screen and (max-width: 430px) {
  .img-container-test {
    display: block;
    border: 2px solid black;
    width: 100%;
    height: 20rem;
    background-image: url("../../assets/m_card_picture_p1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom -1.7rem right -1.25rem;
  }

  /* ---Hero */
  .hero-container {
    padding: 2rem 1.25rem 0 1.25rem;
  }

  .name {
    font-size: 1rem;
    font-weight: 100;
    padding: 1.5rem 0 0.4rem 0;
  }

  .hero-intro {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    padding: 0 0 1rem 0;
  }

  .hero-intro span {
    font-weight: 600;
  }

  /* ---Top projects */
  .top-projects-container {
    margin: 0;
  }

  .top-projects-container .card-title {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.45rem;
    padding: 0 0 0.6rem 0;
  }

  .top-projects-container .card-tools {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 0 0 0.8rem 0;
  }

  .projects-title {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    padding: 0 0 0 2.7rem;
    margin: 1rem 1.25rem 0 1.25rem;
  }

  .projects-title:before {
    width: 2rem;
  }

  .project-container {
    margin: 1rem 0;
    min-height: 20rem;
    border-radius: 0.6rem;
  }

  .top-projects-container .card-container {
    height: 20rem !important;
    min-height: 20rem;
    max-height: 20rem;
  }

  .top-projects-container .card-container-text {
    padding: 0 1.25rem 0 0;
    min-height: 7rem;
    max-height: 7rem;
  }

  .top-projects-container .card-container-img-mobile {
    min-height: 10.5rem;
    max-height: 11rem;
  }

  .all-projects-container {
    margin: 0 1.25rem;
    gap: 0.5rem;
  }

  /* Filters */
  .filter-section-title {
    font-size: 1rem;
    margin: 1.5rem 1.25rem 0.8rem 1.25rem;
  }

  .filter-section {
    padding: 0 0 1rem 0;
  }

  .filter-section-container {
    flex-direction: column;
    margin: 0 1.25rem 1rem 1.25rem;
  }

  .filter-label {
    font-size: 0.8rem;
    padding: 0 0 0.5rem 0;
  }

  .filters {
    width: 100%;
  }
}
