/* ---Hero */

.hero-container {
  padding: 3rem 3rem 0 3rem;
}

.name {
  font-size: 1.3rem;
  font-weight: 100;
  padding: 0 0 1rem 0;
}

.hero-intro {
  font-size: 2.3rem;
  font-weight: 200;
  line-height: 2.7rem;
  padding: 0 0 2rem 0;
}

.hero-intro span {
  font-weight: 400;
}

/* ---Top projects */

.project-container {
  display: flex;
  flex-direction: row;
  margin: 2.5rem 3rem;
  height: 33.5rem;
  border-radius: 1.25rem;
}

.projects-title {
  position: relative;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  padding: 0 0 0 4rem;
  margin: 3rem 3rem 2rem 3rem;
  color: var(--black);
}

.projects-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 3rem;
  height: 1px;
  background: var(--slate);
  left: 0;
  top: 50%;
}

.top-project-container-1 {
  background-color: var(--bc-project-1);
}

.img-container-p1 {
  display: flex;
  width: 100%;
  height: auto;
  background: url("../../assets/d_card_picture_p1.png") no-repeat;
  background-size: cover;
  background-position-y: center;
}

.top-project-container-2 {
  background-color: var(--bc-project-2);
}

.top-project-container-3 {
  background-color: var(--bc-project-3);
}

.top-project-container-4 {
  background-color: var(--bc-project-4);
}

/* ---Project buttons */

.btn-project-1 {
  background-color: var(--btn-project-1);
}

.btn-project-2 {
  background-color: var(--btn-project-2);
}
