.card-container {
  display: flex;
  flex-direction: row;
  min-height: 35.8rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 0 1rem;
  border: 1px rgba(153, 153, 153, 0.2) solid;
}

.card-container-img-left {
  flex-direction: row-reverse;
}

.card-container-text {
  width: 40%;
  padding: 2rem 1rem 2rem 1rem;
}

.card-container-img-desktop {
  width: 60%;
  margin: 1rem 0 0 0;
  min-height: 31rem;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

/* ---Card text */
.card-title {
  font-family: "Spline Sans Mono", monospace;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
  line-height: 2.5rem;
  padding: 0 0 1rem 0;
}

.card-description {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0 0 2rem 0;
}

.card-tools {
  font-family: "Spline Sans Mono", monospace;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.2rem;
  padding: 0 0 1.2rem 0;
}

/* ---Project button */
.btn-project {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  height: 2.4rem;
  padding: 0rem 1.4rem;
  margin: 0 0 1rem 0;
  border-radius: 0.7rem;
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 700;
}

.btn-project:hover {
  opacity: 80%;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 0.4rem;
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  .card-container {
    min-height: 25rem;
    padding: 0;
  }

  .card-container-text {
    width: 50%;
    padding: 1.25rem 0.8rem 1.25rem 1.25rem;
  }

  .card-container-img-desktop {
    display: none;
  }

  .card-container-img-tablet {
    width: 50%;
    min-height: 10rem;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .card-container-img-mobile {
    display: none;
  }

  /* ---Card text */
  .card-title {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.07rem;
    line-height: 1.7rem;
    padding: 0 0 0.8rem 0;
  }

  .card-description {
    font-size: 0.8rem;
    line-height: 1.3rem;
    padding: 0 0 0.8rem 0;
  }

  .card-tools {
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1rem;
    padding: 0 0 0.8rem 0;
  }

  /* ---Project button */
  .btn-project {
    height: 2rem;
    padding: 0rem 1rem;
    margin: 0 0 1rem 0;
    border-radius: 0.4rem;
    font-size: 0.7rem;
    font-weight: 700;
  }

  .btn-icon {
    padding: 0 0 0 0.5rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 430px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 0 1.25rem;
    min-height: 22rem;
    max-height: 22rem;
    border-radius: 0.6rem;
  }

  .card-container-text {
    padding: 0 1.25rem 0 0;
    width: 100%;
    margin: 0;
  }

  .card-container-img-desktop,
  .card-container-img-tablet {
    display: none;
  }

  .card-container-img-mobile {
    display: block;
    width: 100%;
    min-height: 12.5rem;
    max-height: 12.5rem;
    border-radius: 0.6rem 0 0.6rem 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-description,
  .btn-project,
  .btn-container {
    display: none;
  }

  /* ---Card text */
  .card-title {
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    line-height: 1.45rem;
    padding: 0 0 1rem 0;
  }

  .card-tools {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 0 0 0.8rem 0;
  }
}
