.intro-sub-title {
  color: var(--font-color-project-id1);
}

/* ---Project picture */
.project-img {
  grid-column: 3 / 11;
  padding: 4rem 0;
}

/* ---Project content */
.project-content-main-title {
  color: var(--font-color-project-id1);
}

.project-container-sub-title {
  border-bottom: 1.5px solid var(--font-underline-color-project-id1);
}

.project-content-number {
  color: var(--font-color-project-id1);
}

.project-content-sub-title {
  color: var(--font-color-project-id1);
}

.project-content-sub-sub-title {
  color: var(--font-color-project-id1);
}
