.project-network-edge-intro .main-title {
  color: var(--font-color-project-id1);
}

.project-network-edge-intro .intro-sub-title {
  color: var(--font-color-project-id1);
}

.project-network-edge-intro .project-container-sub-title-grid {
  padding: 0.8rem 0 0 0;
}

/* ---Project picture */
.project-network-edge-intro .project-img {
  grid-column: 3 / 11;
}

.project-network-edge-intro .project-img {
  grid-column: 3 / 11;
  padding: 2rem 0 3rem 0;
}

/* ---Project content */
.project-network-edge-intro .project-content-main-title {
  color: var(--font-color-project-id1);
}

.project-ne-container-sub-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: first baseline;
  padding: 0;
  border-bottom: 1.5px solid var(--font-underline-color-project-id1);
}

.project-ne-content-description {
  padding: 0 0 1.8rem 0;
}

.project-network-edge-intro .project-container-sub-title {
  border-bottom: 1.5px solid var(--font-underline-color-project-id1);
}

.project-network-edge-intro .project-content-number {
  color: var(--font-color-project-id1);
}

.project-network-edge-intro .project-content-sub-title {
  color: var(--font-color-project-id1);
}

.project-network-edge-intro .project-content-sub-sub-title {
  color: var(--font-color-project-id1);
}

.content-separator {
  grid-column: 3 / 11;
  height: 2rem;
}

@media screen and (max-width: 900px) {
  .project-network-edge-intro .project-img {
    grid-column: 1 / 7;
    padding: 0 3rem;
  }

  .project-img {
    padding: 2rem 3rem;
  }

  .content-separator {
    grid-column: 1 / 7;
    height: 0;
  }
}

@media screen and (max-width: 430px) {
  .project-network-edge-intro .project-img {
    grid-column: 1 / 6;
    padding: 0 1rem 2rem 1rem;
  }

  .project-network-edge-intro .project-container-sub-title-grid {
    padding: 0.2rem 0 0 0;
  }

  .project-img {
    padding: 0.5rem 0;
  }

  .project-ne-content-description {
    padding: 0 0 0.8rem 0;
  }

  .content-separator {
    grid-column: 1 / 6;
    height: 1rem;
  }
}
