body {
  background-color: var(--bc-light-project-id1);
}

.project-main-container {
  display: grid;
  gap: 1rem;
  padding: 0 3rem;
  grid-template-columns: repeat(12, 1fr);
}

/* ---Intro */
.project-intro {
  grid-column: 1 / 13;
}

.intro-sub-title {
  color: var(--font-color-project-id1);
}

/* ---Project picture */
.project-img {
  grid-column: 3 / 11;
  padding: 4rem 0;
}

/* ---Project content */
.project-content-main-title {
  grid-column: 1 / 13;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  color: var(--font-color-project-id1);
  padding: 1rem 0;
}

.project-container-sub-title-grid {
  grid-column: 1/10;
}

.project-container-sub-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: first baseline;
  border-bottom: 1.5px solid var(--font-underline-color-project-id1);
}

.project-content-number {
  font-size: 2.6rem;
  font-weight: 200;
  color: var(--font-color-project-id1);
}

.project-content-sub-title {
  color: var(--font-color-project-id1);
}

.project-content-container {
  grid-column: 4 / 10;
}

.project-content-description,
.project-content-sub-sub-title {
  grid-column: 4 / 10;
}

.project-content-sub-sub-title {
  color: var(--font-color-project-id1);
}

@media screen and (max-width: 900px) {
  .project-main-container {
    gap: 1.5rem;
    padding: 0 1.25rem;
    grid-template-columns: repeat(6, 1fr);
  }

  /* ---Intro */
  .project-intro {
    grid-column: 1 / 7;
  }

  /* ---Project picture */
  .project-img {
    grid-column: 1 / 7;
    padding: 1rem 4rem;
  }

  /* ---Project content */
  .project-content-main-title {
    grid-column: 1 / 7;
    font-size: 2rem;
    padding: 2rem 0 0 0;
  }

  .project-container-sub-title-grid {
    grid-column: 1/7;
  }

  .project-content-number {
    font-size: 1.8rem;
  }

  .project-content-sub-title {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }

  .project-content-container {
    grid-column: 3 / 7;
  }

  .project-content-description,
  .project-content-sub-sub-title {
    grid-column: 3 / 7;
    padding: 0 0 1rem 0;
  }

  .project-content-sub-sub-title {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0.8rem 0 0.2rem 0;
  }
}

@media screen and (max-width: 430px) {
  .project-main-container {
    gap: 0.9rem;
    padding: 0 0.9rem;
    grid-template-columns: repeat(5, 1fr);
  }

  /* ---Intro */
  .project-intro {
    grid-column: 1 / 6;
  }

  /* ---Project picture */
  .project-img {
    grid-column: 1 / 6;
    padding: 1rem 1rem;
  }

  /* ---Project content */
  .project-content-main-title {
    grid-column: 1 / 6;
    font-size: 1.8rem;
    letter-spacing: 0.14rem;
    padding: 0.6rem 0 0 0;
  }

  .project-container-sub-title-grid {
    grid-column: 1/6;
  }

  .project-content-number {
    font-size: 1.6rem;
  }

  .project-content-sub-title {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
  }

  .project-content-container {
    grid-column: 1 / 6;
  }

  .project-content-description,
  .project-content-sub-sub-title {
    grid-column: 1 / 6;
    padding: 0 0 1rem 0;
  }

  .project-content-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .project-content-sub-sub-title {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0.8rem 0 0.2rem 0;
  }
}
