:root {
  /* Colors */
  /* --- primary palette */
  --black: #000000;
  --white: #ffffff;
  --boring: #666666;

  /* --- secondary palette */
  --accent: #0484e7;
  --success: #21a663;
  --warning: #f59b00;
  --error: #d63333;

  /* --- extended palette */
  /* - neutrals */
  --dark-gray: #333333;
  --slate: #484848;
  --grandma: #999999;
  --concrete: #dddddd;
  --egg-white: #f5f5f5;

  /* - reds */
  --blood-clot: #8a0f0f;
  --red: #cc0000;
  --sunset: #e16666;
  --salmon: #eb9999;
  --sunburn: #f5cdcc;
  --rosie: #fce3e3;

  /* - yellows */
  --midday: #ca6602;
  --citric-dream: #ffcd00;
  --cosmic-banana: #ffdb48;
  --bananarama: #ffe785;
  --gross-wallpaper: #feec9a;
  --yellowish: #fef9dc;

  /* - greens */
  --wald: #0c5f35;
  --forest: #1e995b;
  --grass: #21a663;
  --go-time: #4fc489;
  --dolla-bill: #7ec8a3;
  --mint: #c9eedb;
  --greenish: #ebf9f2;

  /* - cyans */
  --doona: #008da6;
  --fish-tank: #00a3bf;
  --party: #00b8d9;
  --sea-breeze: #00c7e6;
  --lagoon: #79e2f2;
  --soap: #b3f5ff;
  --cyanish: #e6fcff;

  /* - blues */
  --school-uniform: #023f6e;
  --ocean: #0361aa;
  --sky: #0484e7;
  --san-francisco-bay: #229dfb;
  --afternoon: #78c4fd;
  --pastel-dream: #cde9fe;
  --blueish: #ecf6fd;

  /* - blue grays */
  --dark-and-stormy: #2e3f4c;
  --deep-sea: #2f5574;
  --storm-coming: #506d85;
  --black-coral: #738a9d;
  --battleship: #96a7b6;
  --ash: #b9c5ce;
  --cadet: #dce2e8;

  /* - violets */
  --royal: #403294;
  --prince: #5243aa;
  --cadbury: #6554c0;
  --romantic: #8777d9;
  --aura: #998dd9;
  --lavender: #c0b6f2;
  --violetish: #eae6ff;

  /* - purples */
  --sangria: #550736;
  --boysenberry: #710948;
  --jam: #890c58;
  --mauve: #a13d79;
  --iris: #b86c9b;
  --periwinkle: #d19fbd;
  --heather: #e7cede;

  /* - pinks */
  --mahogany: #6e022a;
  --rich-pink: #ce034e;
  --party-pink: #f2075e;
  --eighties-fun: #fd2b78;
  --rose: #fd78a9;
  --pale-pink: #efcddf;
  --pinkish: #fdecf2;

  --background-color: #c4b9c0;
  --background-color-about: #acb7c1;

  /* ---Project colors */
  /* - background colors */
  --bc-project-id1: #cebbc7;
  --bc-project-id2: #b2add2;
  --bc-project-id3: #cfcbe3;
  --bc-project-id4: #a9bcc2;

  /* - background lighter colors */
  --bc-light-project-id1: #e0d5dc;
  --bc-light-project-id2: #d8d6e8;
  --bc-light-project-id3: #efeef8;
  --bc-light-project-id4: #e9eef0;

  /* - buttons colors */
  --btn-project-id1: #4d3b46;
  --btn-project-id2: #3e328e;
  --btn-project-id3: #6155bd;
  --btn-project-id4: #285766;

  /* - font colors */
  --font-color-project-id1: #4d3b46;
  --font-underline-color-project-id1: #b8a1af;
  --font-color-project-id4: #256e7b;
  --font-underline-color-project-id4: #9db6bb;
}

body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  background-color: var(--background-color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 4rem 0 2rem 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 0 0 0.6rem 0;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  padding: 0 0 1rem 0;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  color: var(--black);
  font-size: 1.1rem;
  line-height: 1.8rem;
  padding: 0 0 2rem 0;
}

ol,
ul,
li {
  color: var(--black);
  font-size: 1.1rem;
  line-height: 1.8rem;
}

ol {
  padding: 0 0 1rem 0;
  list-style: decimal-leading-zero;
  list-style-position: inside;
}

ol li {
  list-style-position: inside;
  padding: 0 0 0.6rem 0;
}

ul li {
  list-style-type: disc;
  padding: 0 0 0.6rem 0;
  margin: 0 0 0 3rem;
  list-style-position: outside;
}

b {
  font-weight: 600;
}

/* ---Project titles */
/* -desktop */
.project-main-title {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  padding: 1rem 0 2rem 0;
}

.project-sub-title {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.project-sub-sub-title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding: 1rem 0 0.4rem 0;
}

/* -tablet */
@media screen and (max-width: 900px) {
  h1 {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 2rem 0 1rem 0;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 0 0 0.4rem 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 0 0 1.6rem 0;
  }

  ol,
  ul,
  li {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  ol {
    padding: 0 0 0.8rem 0;
  }

  ol li {
    list-style-position: inside;
    padding: 0 0 0.6rem 0;
  }

  ul li {
    padding: 0 0 0.6rem 0;
    margin: 0 0 0 2rem;
  }

  .project-main-title {
    font-size: 2rem;
    padding: 2rem 0 0 0;
  }

  .project-sub-title {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }

  .project-sub-sub-title {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0.8rem 0 0.2rem 0;
  }
}

@media screen and (max-width: 430px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 2rem 0 0.5rem 0;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    padding: 0 0 0.4rem 0;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0 0 1.5rem 0;
  }

  .project-main-title {
    font-size: 1.7rem;
    letter-spacing: 0.14rem;
    padding: 0.6rem 0 0 0;
  }

  .project-sub-title {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
  }

  .project-sub-sub-title {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0.8rem 0 0.2rem 0;
  }

  ol,
  ul,
  li {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  ul li {
    margin: 0 0 0 1.5rem;
  }
}
