.project-sustainable-travel-intro .main-title {
  color: var(--font-color-project-id2);
}

.project-sustainable-travel-intro .intro-sub-title {
  color: var(--font-color-project-id2);
}

/* ---Project picture */
.project-sustainable-travel-intro .project-img {
  grid-column: 3 / 11;
  padding: 4rem 0;
}

/* ---Project content */
.project-sustainable-travel-intro .project-content-main-title {
  color: var(--font-color-project-id2);
}

.project-sustainable-travel-intro .project-container-sub-title {
  border-bottom: 1.5px solid var(--font-underline-color-project-id2);
}

.project-sustainable-travel-intro .project-content-number {
  color: var(--font-color-project-id2);
}

.project-sustainable-travel-intro .project-content-sub-title {
  color: var(--font-color-project-id2);
}

.project-sustainable-travel-intro .project-content-sub-sub-title {
  color: var(--font-color-project-id2);
}

@media screen and (max-width: 900px) {
  .project-sustainable-travel-intro {
    grid-column: 1 / 7;
  }

  .dashboard-img {
    grid-column: 3 / 7;
    width: 100%;
    height: auto;
  }

  .project-img {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 430px) {
  .project-sustainable-travel-intro .project-img {
    grid-column: 1 / 6;
  }

  .project-sustainable-travel-intro .project-img {
    padding: 0.5rem 0;
  }

  .project-sustainable-travel-intro .dashboard-img {
    grid-column: 1 / 6;
  }

  .project-sustainable-travel-intro .project-content-description {
    padding: 0 0 0 0;
  }

  .project-sustainable-travel-intro .project-content-description-code {
    padding: 1.5rem 0 0 0;
  }

  .project-sustainable-travel-intro .project-content-description-first {
    padding: 0 0 0 0;
  }
}
